@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Grotesk';
  src: url('/Fonts/static/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Space Grotesk', sans-serif;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/Fonts/static/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.bold-text {
  font-weight: bold;
}